extends layout

block content
  h1= title
  p Welcome to #{title} 
  h1 Kindly check out the RESUME Assigment By clicking on the link below: 
  a(href="/index.html") CLICK HERE 

  h1 Kindly check out the Restful Assigment Here 
  a(href="api/products") CLICK HERE 

 
  